<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Languages</h4>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Fluent in many different languages and styles, from C systems programming, to C# API's and Javascript web projects</p>
    </div>
    <div class="four columns">
      <h4>Frameworks</h4>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <p>Wide array of experience with frameworks that target the web, the desktop, and even mobile phones</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-amazonwebservices-plain colored"></i>
      <p>Able to work in any environment that supports git and vim. Deployed several production applications utilizing Amazon's AWS</p>
    </div>
  </div>
</div>
