<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/debugging.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> My Blog </h5>
      <p> Follow along as I troubleshoot and overcome various obstacles on the path of turning ideas into working software that is worth showing off. </p>
      <a class="project-link" href="/blog">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Coming soon! </h5>
      <p>Inspiration lies everywhere, so stay tuned as I search for some and begin work on my next project.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
