<div id="particles-js" style="min-height: 0; height:400px">
    <div class="content" style="top: 200px">
        <h1>
            <span class="site-title">{{site.username}}</span>
            <span class="site-description">{{site.user_title}}</span>
        </h1>
        <div class="icons-header">
            <a aria-label="Homepage" href="/"><i class="icon fa fa-home"></i></a>
            <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}">
                <i class="icon fa fa-github-alt" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
